<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <%- include('header') %>
        <h1> hello </h1>
        <%- include('./footer.ejs') %>
        <script>
           
        </script>
    </body>
</html>